@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.bg-first{
 background-color: #1892d1;
}
.text-first{
 color: #1892d1;
}
.border-first{
 --tw-border-opacity: 1;
 border-color: #1892d1;
}