@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.bg-first{
 background-color: #1892d1;
}
.text-first{
 color: #1892d1;
}
.border-first{
 --tw-border-opacity: 1;
 border-color: #1892d1;
}
.animate-spin{
 animation: spin 2s ease-in infinite;
 @keyframes spin {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }
}