@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.bg-first{
 background-color: #3b5998;
}
.text-first{
 color: #3b5998;
}
border-first{
 border-color: #3b5998;
}